// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#index-jumbotron {
    background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ),
    /* bottom, image */
    url("/images/house-1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;

}

